.info-container {
    margin-top: 50px;
    width: 100%;
}
.info-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
}
.divider {
    background: #3333b2;
    width: 300px;
    height: 2px;
    border: none;
    margin-top: 20px;
}
.divider-gray {
	background-color: #aeaeae;
}
.stretch {
    width: 100%;
    margin-top: 3px;
    height: 1px;
}
.middle {
    height: 3px;
    width: 150px;
}
.short {
    height: 4px;
    width: 50px;
    margin-top: 10px;
}
.card-container {
    width: 100%;
    height: 350px;
    margin-top: 40px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    border-radius: 1px;
    text-align: center;
    overflow: hidden;
}
.card-image {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    background-size: cover;
}
.card-title {
    font-size: 20px;
    margin-bottom: 5px;
}
.card-paragraph {
    font-size: 15px;
    line-height: 1.5;
}
#pnu {
    background-image: url('../images/profile/pnu.png');
}
#piano {
    background-position: 5%;
    background-image: url('../images/profile/piano.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#youtube {
    background-position: 5%;
    background-image: url('../images/profile/youtube.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#coding {
    background-image: url('../images/profile/monitor.svg');
}
.divider-container {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}
#rotated-divider {
    background-image: url('../images/rotated.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
#divider-background {
    background-color: #3333b2;
    height: 600px;
    width: 100%;
}
#projects {
    margin-top: 300px;
    text-align: right;
    margin-right: 100px;
    color: #ffffff;
}
hr.reverse {
    background: #ffffff;
    margin-right: 100px;
}
p.reverse {
    margin-right: 100px;
    text-align: right;
}
.info-paragraph {
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
}
.projects {
    background-color: #3333b2;
    width: 100%;
    overflow: visible;
}
.project-container {
    display: block;
    padding-top: 50px;
	padding-bottom: 100px;
}
.project-card {
    width: 80%;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-shadow: 6px 9px 34px -2px #000000;
    box-shadow: 6px 9px 34px -2px #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
}
.project-thumbnail {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-size: cover;
    height: 100%;
    width: 150px;
}
.project-content {
    height: 100%;
    flex-grow: 1;
}
.project-title {
    color: black;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.project-paragraph {
    color: black;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 3px;
    line-height: 1.5;
}
#konsolecakao {
    background-image: url('../images/projects/konsolecakao.svg');
}

#expresstalk {
    background-image: url('../images/projects/expresstalk.svg');
}
#piahosnotgun {
	background-image: url('../images/projects/piahosnotgun.svg');
}

@media (max-width: 1300px) {
    #projects {
        margin-right: 100px;
    }
    hr.reverse {
        margin-right: 100px;
    }
	p.reverse {
		margin-right: 100px;
	}
    .card-container {
        height: 700px;
        grid-template-rows: 350px 350px;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }
}
@media (max-width: 900px) {
    .project-card {
        width: 60%;
        height: 300px;
        background-color: white;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: stretch;
    }
	.project-thumbnail {
		margin: 0 auto;
	}
    #projects {
        margin-top: 250px;
        margin-right: 30px;
    }
    hr.reverse {
        margin-right: 30px;
    }
    p.reverse {
        margin-right: 30px;
    }
    .card-container {
        height: 1400px;
        grid-template-rows: 350px 350px 350px 350px;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
    }
    .card {
        margin-bottom: 20px;
    }
    .logo {
        margin-left: 0;
    }
}